<h1>All Users</h1>
<hr>
<table class="table-bordered table-striped table-hover">
  <tr>
    <th>Name</th>
    <th>Picks</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= user.profile_name %></td>
    <td><%= link_to 'Picks', user_picks_path(user) %></td>
  </tr>
<% end %>

</table>
<%= link_to 'Back', :back, class: "btn btn-primary" %>