<h1>Listing Picks</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Chosen On</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @picks.each do |pick| %>
  <tr>
    <td><%= pick.pick_team.name %></td>
    <td><%= pick.created_at.to_formatted_s(:long)  %></td>



  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', games_path %>
