/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.main-hero.hero-unit {

  text-align: center;
  vertical-align: center;
  box-shadow: 0 0 40px rgba(0,0,0,0.1) inset;
}

.hero-unit a, .hero-unit {
  color: black;
  vertical-align: center;
  text-decoration: none;
}

.main-hero a {
color:#34495e;

}

.row {
background: white;

}

.main-inner a:hover {
	color: #f0f0f0;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-shadow: none;
  font-weight: bold;
}

.navbar .nav {
  vertical-align: center;
}

h2 {
  text-align: center;
}

.centered-text {
  text-align: center;
}

.logo {
  padding-left: 50px;
}


.user-highlight {
    background-color: lightblue;
  }

.btn {

}

.navbar .nav > li > a {
  border-right: none;
  border-left: none;
  line-height: 40px;
}

