/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#branded {
  font-family: 'Graduate', sans-serif;
}

.main-hero.hero-unit {
  text-align: center;
  vertical-align: center;
  box-shadow: 0 0 40px rgba(0,0,0,0.1) inset;
  margin-bottom: -80px;
  margin-top: 20px;
}

.hero-unit a, .hero-unit {
  color: black;
  vertical-align: center;
  text-decoration: none;
}

.main-hero a {
  font-family: 'Graduate', sans-serif;
  font-size: 1.2em;
  color:#34495e;

}

.main-inner a:hover {
	color: #1dd2af;
  text-decoration: none;
}

.navbar a {
  color: white;
  text-shadow: none;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.centered-text {
  text-align: center;
}

.logo {
  padding-left: 50px;
}


.user-highlight {
    background-color: #2c3e50;
  }

.btn {

}

.navbar .nav > li > a {
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 36px;
}

#main-content {
  border-top: 90px solid transparent;
}

#leaderboard-spacing th:nth-child(-2n+2) {
  min-width: 190px ;
}