// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
	padding: 0 20px 0 20px;
}

td:not(:last-child)
{
    border-right:solid;
    border-width:1px;
}

h4 {
  text-align: center;
  padding-top: 20px;
}